.MapWindow {
    position: fixed;
    top: 50%;
    left: 0;
    width: 28%;
    transform: translateY(-50%);
    height: 100%;
    border: 1px solid #ccc;
    z-index: 999;
    box-sizing: border-box;
  }

  .blurry {
    backdrop-filter: blur(5px);
    height: 250px;
    width: 100%;
    background-color: rgba(6,28,141,0.3);
    border: 1px solid #000;
  }
  .data{
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid #000;
  }